<div class="container py-5">
    <div class="message">
        <h1>Feedback Form</h1>
        <h5>&nbsp; &nbsp; &nbsp;Hi Pham Quang Hung,</h5>
        <p class="text-black-50 px-3">
            Thank you for trusting and using our service. We are hoping that you give us
            feedback to share your experiments and help us improve our process
        </p>
    </div>

    <div class="info-product ">


        <div class="row align-items-center py-3">
            <div class="col-md-6 fw-bold fs-4">
                Product
            </div>
            <div class="col-md-2 fs-4 text-center">
                Price
            </div>
            <div class="col-md-2 fs-4 text-center">
                Quantity
            </div>
            <div class="col-md-2 fw-bold fs-4 text-center">
                Total
            </div>
        </div>

        <div style="border-top: 2px solid #0b131c"></div>

        <div class="row align-items-center my-3 fs-4">

            <div class="col-md-6 ">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img style="height: 160px; width: 180px;" src="images/template.jpg" alt="">
                    </div>

                    <div class="col-md-6">
                        <div class="mx-4 fw-bold fs-4">
                            Frames Prints
                        </div>
                        <div class="mx-3 ">
                            Size: 4 x 4
                        </div>
                        <div class="mx-3 ">
                            Material: Pine
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-2 text-center">
                12$
            </div>
            <div class="col-md-2 text-center">
                6
            </div>
            <div class="col-md-2 text-center">
                72$
            </div>
        </div>

        <div style="border-top: 2px solid #0b131c"></div>

        <div class="row align-items-center my-3">
            <div class="col-md-6 text-black-50">
                <div>
                    1 Item(s) 550,000VND
                </div>
                <div>
                    Shipping & Handling: 50,000VND
                </div>
            </div>

            <div class="col-md-2">

            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-2 fw-bold">
                Total: 600,000VND
            </div>
        </div>
    </div>

    <div class="feedback-comment py-5 px-5">
        <div class="text-center ">

            <textarea class="px-4 py-3" style="width: 100%;" name="" id="" cols="" rows="5"
                      placeholder="Feedback here !"></textarea>

        </div>
        <button class="text-white border border-dark float-end my-3 px-5  "
                style="box-shadow: 2px 2px black; background-color: rgb(101, 137, 216);">
            Sent
        </button>
    </div>

</div>
