<div class="container py-5">
    <div class="my-4">
        <h1>Your Order Status</h1>
        <div class="my-4">
            <p class="lh-1 text-black-50">Pham Quang Hung (Name)</p>
            <p class="lh-1 text-black-50">54 Le Thanh Nghi (Address)</p>
            <p class="lh-1 text-black-50">099966448 (Phone Number)</p>
        </div>
        <h6>Your Order Number: 258G7</h6>
    </div>

    <div class="table-responsive my-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">
                        OrderID
                    </th>
                    <td scope="col">
                        Order Date
                    </td>
                    <td scope="col">
                        Item(s)
                    </td>
                    <td scope="col">
                        Order Status
                    </td>
                    <td scope="col">
                        Payment Status
                    </td>
                    <th scope="col">
                        Total
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr class="table-group-divider">
                    <th class="">1</th>
                    <td>Order Date</td>
                    <td>Item(s)</td>
                    <td>Order Status</td>
                    <td>Payment Status</td>
                    <th>Total</th>
                </tr>
                <tr class="table-group-divider">
                    <th class="">2</th>
                    <td>Order Date</td>
                    <td>Item(s)</td>
                    <td>Order Status</td>
                    <td>Payment Status</td>
                    <th>Total</th>
                </tr>
                <tr class="table-group-divider">
                    <th class="">3</th>
                    <td>Order Date</td>
                    <td>Item(s)</td>
                    <td>Order Status</td>
                    <td>Payment Status</td>
                    <th>Total</th>
                </tr>
            </tbody>
        </table>
    </div>

    <button class=" text-white border border-dark float-end px-5"
            style="box-shadow: 2px 2px black; background-color: rgb(101, 137, 216);" disabled>
        Feedback
    </button>
</div>
