<main role="main" id="main">
    <div class="container">
        <section class="overflow-hidden section lockup-section">
            <div class="text-center lockup-description-large hide-to-large">
                <h2 class="lockup-description-large__heading">Prints</h2>
                <p class="lockup-description__text">
                    Showcase your spring-fresh photos in full bloom with our wide selection of size + styles.
                </p>
                <a class="lockup-description__link">
                    Oder Now
                </a>
            </div>

            <div class="d-flex justify-content-center align-items-center position-relative lockup-img">
                <img src="~/Content/Images/lockup_img.jpg" alt="Lockup Image">
                <div class="position-absolute text-center lockup-description hide-to-small">
                    <h2 class="lockup-description__heading">
                        Prints
                    </h2>
                    <p class="lockup-description__text">
                        Showcase your spring-fresh photos in full bloom with our wide selection of size + styles.
                    </p>
                    <a class="lockup-description__link">
                        Oder Now
                    </a>
                </div>
            </div>
        </section>

        <section class="section product-section">
            <div class="row">
                <h4 class="position-relative text-center product-section__heading">Photo Print Options</h4>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="product-section__card">
                        <div class="product-section__card-img">
                            <img src="~/Content/Images/product-section__img1.jpg" alt="">
                        </div>
                        <div class="text-center product-section__card-content">
                            <div class="product-section__card-name">
                                Standard Prints <br>
                                - From 500vnd-5.000vnd
                            </div>
                            <div class="d-flex flex-column lh-lg product-section__card-size">
                                <a href="">4x4</a>
                                <a href="">4x6</a>
                                <a href="">5x7</a>
                                <a href="">8x8</a>
                                <a href="">8x10</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-section__card">
                        <div class="product-section__card-img">
                            <img src="~/Content/Images/product-section__img2.jpg" alt="">
                        </div>
                        <div class="text-center product-section__card-content">
                            <div class="product-section__card-name">
                                Square Prints <br>
                                - From 3.000vnd-8.000vnd
                            </div>
                            <div class="d-flex flex-column lh-lg product-section__card-size">
                                <a href="">4x4</a>
                                <a href="">4x6</a>
                                <a href="">5x7</a>
                                <a href="">8x8</a>
                                <a href="">8x10</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-section__card">
                        <div class="product-section__card-img">
                            <img src="~/Content/Images/product-section__img3.jpg" alt="">
                        </div>
                        <div class="text-center product-section__card-content">
                            <div class="product-section__card-name">
                                Large Prints <br>
                                - From 90.000vnd-210.000vnd
                            </div>
                            <div class="d-flex flex-column lh-lg product-section__card-size">
                                <a href="">4x4</a>
                                <a href="">4x6</a>
                                <a href="">5x7</a>
                                <a href="">8x8</a>
                                <a href="">8x10</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-section__card">
                        <div class="product-section__card-img">
                            <img src="~/Content/Images/product-section__img4.jpg" alt="">
                        </div>
                        <div class="text-center product-section__card-content">
                            <div class="product-section__card-name">
                                Collage Prints <br>
                                - From 2.000vnd-12.000vnd
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-section__card">
                        <div class="product-section__card-img">
                            <img src="~/Content/Images/product-section__img5.jpg" alt="">
                        </div>
                        <div class="text-center product-section__card-content">
                            <div class="product-section__card-name">
                                Wallet Prints <br>
                                - From 35.000vnd-105.000vnd
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="product-section__card">
                        <div class="product-section__card-img">
                            <img src="~/Content/Images/product-section__img6.jpg" alt="">
                        </div>
                        <div class="text-center product-section__card-content">
                            <div class="product-section__card-name">
                                Framed Prints <br>
                                - From 500vnd-5,000vnd
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section inspiration-section">
            <div class="row">
                <h4 class="position-relative text-center inspiration-section__heading">
                    Photo Printing Inspiration
                </h4>
            </div>
            <div class="inspiration-section__content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="inspiration-section__card">
                            <div class="inspiration-section__card-img">
                                <img src="~/Content/Images/inspiration-section_img1.jpg" alt="">
                            </div>
                            <div class="inspiration-section__card-name">
                                <p class="text-center">Artist poster</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inspiration-section__card">
                            <div class="inspiration-section__card-img">
                                <img src="~/Content/Images/inspiration-section_img2.jpg" alt="">
                            </div>
                            <div class="inspiration-section__card-name">
                                <p class="text-center">Creative photo frames</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inspiration-section__card">
                            <div class="inspiration-section__card-img">
                                <img src="~/Content/Images/inspiration-section_img3.jpg" alt="">
                            </div>
                            <div class="inspiration-section__card-name">
                                <p class="text-center">Creative your vision</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inspiration-section__card">
                            <div class="inspiration-section__card-img">
                                <img src="~/Content/Images/inspiration-section_img4.jpg" alt="">
                            </div>
                            <div class="inspiration-section__card-name">
                                <p class="text-center">Creative your vision</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</main>