
<div class="row">
    <div class="d-flex pt-5 justify-content-center">
        <div class="container d-flex bg-grayblue m-0 p-2 justify-content-center">
            <div class="col-6 d-flex flex-column py-4">
                <p class="fs-5 pt-4 fw-medium text-center">Thank you for visiting! Here's a small gift to get you going</p>

                <div class="d-flex flex-column justify-content-center lh-1">
                    <h5 class="text-center p-0 m-0 fw-bold fs-3">50% off your next order.</h5>
                    <div class="d-flex justify-content-center p-0 m-0 fs-regular">
                        <p>with promo code: </p>
                        <p class="text-primary">&nbsp;50iuanh</p>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-dark p-0 px-2 mx-2 mt-4 mb-5 fs-5 fw-bold fst-italic border-0 rounded-0" style="box-shadow: 3px 3px;">
                        Joning in
                    </button>
                </div>

                <small class="pb-3 lh-1 text-break text-center">
                    Code 50%iuanh applies to the entire order, excluding Photo Printing Canvas, Acrylic Decor, School Prints, Gift Card, & Mounting Add ons.
                    Discount does not apply to shipping, taxes or fees. Promo codes cannot be combined and are No cash values.
                    The code can be shared
                </small>
            </div>

            <div class="z-3 position-absolute container">
                <div class="d-flex justify-content-end" style="width: 100%;">
                    <img class="rounded-circle position-relative" src="~/Content/Images/sale.jpg" style="width: 12%; top: -30px; min-width: 50px; max-width: 400px" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-transparent m-0 p-0 mt-5 mb-1">
    <div class="m-0 p-0" style="overflow: hidden">
        <div class="mx-auto my-0 p-0 " style="width: 100%; direction: ltr;">
            <section class="position-relative px-5">
                <div class="mb-5 mt-2 border-2 border-bottom text-center fs-1" style="width: 100%; height: 1.8rem; line-height: 3.6rem;">
                    <h2 class="bg-white fs-1 px-2 d-inline" style="line-height: 35px;">Lowest Price Guarantee</h2>
                </div>
            </section>
        </div>
    </div>

    <div class="container px-4">
        <div class="product__carousel">
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-transparent m-0 p-0 mt-5 mb-1">
    <div class="m-0 p-0" style="overflow: hidden">
        <div class="mx-auto my-0 p-0 " style="width: 100%; direction: ltr;">
            <section class="position-relative px-5">
                <div class="mb-5 mt-2 border-2 border-bottom text-center fs-1" style="width: 100%; height: 1.8rem; line-height: 3.6rem;">
                    <h2 class="bg-white fs-1 px-2 d-inline" style="line-height: 35px;">Best Sealer In This Season</h2>
                </div>
            </section>
        </div>
    </div>

    <div class="container px-4">
        <div class="product__carousel">
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-transparent m-0 p-0 mt-5 mb-1">
    <div class="m-0 p-0" style="overflow: hidden">
        <div class="mx-auto my-0 p-0 " style="width: 100%; direction: ltr;">
            <section class="position-relative px-5">
                <div class="mb-5 mt-2 border-2 border-bottom text-center fs-1" style="width: 100%; height: 1.8rem; line-height: 3.6rem;">
                    <h2 class="bg-white fs-1 px-2 d-inline" style="line-height: 35px;">What is new ?</h2>
                </div>
            </section>
        </div>
    </div>

    <div class="container px-4">
        <div class="product__carousel">
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
            <div class="product-section__card px-3">
                <div class="product-section__card-img">
                    <img src="~/Content/Images/product-section__img1.jpg" alt="">
                </div>
                <div class="text-center product-section__card-content">
                    <div class="d-flex flex-column justify-content-center product-section__card-name">
                        <span class="fw-medium fs-5">Standard Prints</span>
                        <span class="fs-regular">From 500vnd-5.000vnd</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container py-5">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-6 py-2">
            <h3 class="text-start">Make memorable gifts for those <br> who you love</h3>
            <p class="text-start lh-1">
                Show them just how much she means to you with one-of-a-kind Prins frames, <br>
                drinkware and more
            </p>
            <button class="btn-white ps-0 border border-0" style="box-shadow: 3px 3px;">
                Little things
                matters,
                shop now
            </button>
        </div>
        <div class="col">
            <img class="img-fluid " src="~/Content/Images/perfectgift.jpg">
        </div>
    </div>

    <div class="row mt-5 d-flex align-items-center">
        <div class="col">
            <img class="img-fluid " src="~/Content/Images/template.jpg">
        </div>
        <div class="col-md-6 py-2">
            <h3 class="text-start">Hats of to the grad!</h3>
            <p class="text-start lh-1">Celebrate them with custom cards, gift & party decor </p>
            <button class="btn-white ps-0 border border-0" style="box-shadow: 3px 3px;">Go shopping</button>
        </div>

    </div>
</div>

<div class="part3 my-3">
    <div class="container d-flex justify-content-around">

        <div class="col-md-3">
            <div class="border border-info rounded-circle border-5 big-circle">
                <div class="text-primary fw-bold">
                    gift for her
                </div>
            </div>
            <div class="lable pt-3">
                gift for her
            </div>
        </div>

        <div class="col-md-3 justify-content-center">
            <div class="border border-info rounded-circle border-5 big-circle">
                <div class="text-primary fw-bold">
                    gift for him
                </div>
            </div>
            <div class="lable pt-3">
                gift for him
            </div>
        </div>

        <div class="col-md-3">
            <div class="border border-info rounded-circle border-5 big-circle">
                <div class="text-primary fw-bold">
                    gift for kids
                </div>
            </div>
            <div class="lable pt-3">
                gift for kids
            </div>
        </div>

        <div class="col-md-3">
            <div class="border border-info rounded-circle border-5 big-circle">
                <div class="text-primary fw-bold">
                    gift for pets <br> and owner
                </div>
            </div>
            <div class="lable pt-3">
                gift for pets <br> and owner
            </div>
        </div>

    </div>
</div>

<div class="bg-secondary-subtle m-0">
    <div class="container">
        <div class="row justify-content-center">
            <h2 class="text-center py-3">The National Difference</h2>

            <div class="row d-flex align-items-center text-center pt-3 ">

                <div class="col">
                    <div>
                        <i class="fa fa-light fa-truck-fast" style="font-size: 100px"></i>
                    </div>
                    <p class="pt-3 fs-4 text fw-bold">Free shipping <br> on $79</p>
                    <p class="lh-1">carefully packaged from our <br> lab to your doorstep.</p>
                </div>

                <div class="col">
                    <div>
                        <i class="fa fa-light fa-face-smile-beam" style="font-size: 100px;"></i>
                    </div>
                    <p class="pt-3 fs-4 text fw-bold">Happiness Guarantee.</p>
                    <p class="lh-1">
                        Your happiness is our priority. If your creation doesn't look or feel your imagined, talk to
                        us.
                    </p>
                </div>

                <div class="col">
                    <div>
                        <i class="fa fa-light fa-book-open" style="font-size: 100px;"></i>
                    </div>
                    <p class="pt-3 fs-4 text fw-bold">Free shipping <br> on $79</p>
                    <p class="lh-1">It makes the pros drool, <br> everytime</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-pink m-0">
    <div class="row align-items-center">
        <div class="col-md-8" style="padding: 0 10% 0 10%;">
            <h3 class="fw-bold fs-4 ms-5">
                Our Picture Perfect Guarantee
            </h3>

            <p>
                If there's one think we know, it's photo product quality. It's our priority-guarantee!
            </p>
            <p class="fw-medium">
                Every day , hundreds of customers - like you! - trust us with their most precious
                memories.
                The firdt dance at your weding, that incredible trip to London to you took with your mom,
                the time your son took his first steps. These are moment that truly matter and we want to help them live
                on for years to come
            </p>
            <p>
                If your creation doesn't look or feel how you imagined, talk to us
            </p>

            <p class="text-decoration-underline text-secondary ms-5 fs-5 text fw-bolder">
                Reach out to our team of Photo Experts today
            </p>
        </div>

        <div class="d-flex col-md-4 m-0 justify-content-center">
            <img class="img-fluid" src="~/Content/Images/embe.png" alt="">
        </div>
    </div>
</div>

<div class="bg-transparent py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-between">
                <p class="text-secondary fs-4 fw-bolder">Real Review From Real Customers</p>
                <p class="d-flex text-secondary fs-5 align-items-center justify-content-center">
                    <span class="px-1">254</span>
                    <span class="px-1">Viewers</span>
                    <button class="btn border-0"><</button>
                    <button class="btn border-0">></button>
                </p>
            </div>

            <div class="line-color">
            </div>

            <div class="d-flex container justify-content-between py-3">
                <div class="col-md-4">
                    <div class="d-flex">
                        <div class="border border-info rounded-circle border-2 small-circle">
                            <div class="icon1">
                                <i class="fa-solid fa-quote-left"></i>
                            </div>
                        </div>
                        <div class="mx-4">
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold">Hung PQ</p>
                                <p class="text-secondary fw-medium">04/09/23</p>
                            </div>
                            <div class="text-break text-secondary fw-bolder lh-1">
                                Quality print and great shipping quality and packaging. Not much more to ask for.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="d-flex">
                        <div class="border border-info rounded-circle border-2 small-circle">
                            <div class="icon1">
                                <i class="fa-solid fa-quote-left"></i>
                            </div>
                        </div>
                        <div class="mx-4">
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold">Long DM</p>
                                <p class="text-secondary fw-medium">04/09/23</p>
                            </div>
                            <div class="text-break text-secondary fw-bolder lh-1">
                                Easy to download the photos and quick turn-around for prints. Prints were immaculate
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="d-flex">
                        <div class="border border-info rounded-circle border-2 small-circle">
                            <div class="icon1">
                                <i class="fa-solid fa-quote-left"></i>
                            </div>
                        </div>
                        <div class="mx-4 ">
                            <div class="d-flex justify-content-between">
                                <p class="fw-bold">Anh DH </p>
                                <p class="text-secondary fw-medium">04/09/23</p>
                            </div>
                            <div class="text-break text-secondary fw-bolder lh-1">
                                Quality print and great shipping quality and packaging. Not much more to ask for.
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-secondary-subtle p-5">
    <div class="container">
        <div class="row m-0 p-0 pb-3 justify-content-center">
            <div class="col-md-5">
                <div class="d-flex m-0 p-0 justify-content-center align-items-center">
                    <div class="d-flex flex-column m-0 p-0">
                        <div class="text-center text-primary-emphasis fw-semibold p-2 px-4 fs-5">
                            Already have an account?
                        </div>
                        <button class="btn border border-1 border-dark rounded-0 p-0 m-0 fst-italic fw-medium" style="box-shadow: 3px 3px; ">
                            Sign in
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-2 border border-secondary rounded-circle border-1 mini-circle my-4 mx-4">
                <div class="icon2">or</div>
            </div>

            <div class="col-md-5">
                <div class="d-flex m-0 p-0 justify-content-center align-items-center">
                    <div class="d-flex flex-column m-0 p-0">
                        <div class="text-center text-primary-emphasis fw-semibold p-2 px-4 fs-5">
                            Don't have an account?
                        </div>
                        <button class="btn border border-1 border-dark rounded-0 p-0 m-0 fst-italic fw-medium" style="box-shadow: 3px 3px; ">
                            Create an account
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
