<div class="part1 mx-5">
    <div class="container">
        <p class="pt-4 fs">Thank you for visiting! Here's a small gift to get you going</p>

        <div class="justify-content-center lh-1">
            <h5>40% off your next order.</h5>
            <div class="d-flex justify-content-center">
                with promo code: <p class="text-primary">&nbsp;50iuanh</p>
            </div>
        </div>

        <button class="btn-dark shadow-sm p-0 px-2 fs-5 fw-bold fst-italic border-0 bg-body-tertiary rounded">
            Joning
            in
        </button>

        <p class="p-0 px-5 lh-1 pt-5 py-4 mx-5">
            Code %50iuanh applies to the entire order, excluding Photo Printing Canvas,
            Acrylic <br>
            Decor, School Prints, Gift Card, & Mounting Add ons. Discount does not apply to <br>
            shipping, taxes or fees. Promo codes cannot be combined and are non-transferable. <br> No cash values. The
            code
            can be shared
        </p>
    </div>
</div>

<div class="part2 mx-5">
    <div class="container ">
        <div class="row d-flex align-items-center">

            <div class="col">
                <h3 class="text-start">Make memorable gifts for those <br> who you love</h3>
                <p class="text-start lh-1">
                    Show them just how much she means to you with one-of-a-kind Prins frames, <br>
                    drinkware and more
                </p>
                <button class="btn-white ps-0 border border-3 border-dark border-start-0 border-top-0">
                    Little things
                    matters,
                    shop now
                </button>
            </div>

            <div class="col">
                <img style="height: 270px; width:500px ;" src="./images/anh.jpg">
            </div>
        </div>

        <div class="row pt-5 d-flex align-items-center">
            <div class="col">
                <img style="height: 270px; width:500px ;" src="./images/anh2.jpg">
            </div>
            <div class="col">
                <h3 class="text-start">Hats of to the grad!</h3>
                <p class="text-start lh-1">Celebrate them with custom cards, gift & party decor </p>
                <button class="btn-white ps-0 border border-3 border-dark border-start-0 border-top-0">Go shopping</button>
            </div>

        </div>
    </div>
</div>

<div class="part3 mx-5">
    <div class="container d-flex justify-content-around">

        <div>
            <div class="border border-info rounded-circle border-5 big-circle">
                <div class="text-primary fw-bold">
                    gift for her
                </div>
            </div>
            <div class="lable pt-3">
                gift for her
            </div>
        </div>

        <div>
            <div class="border border-info rounded-circle border-5 big-circle">
                <div class="text-primary fw-bold">
                    gift for him
                </div>
            </div>
            <div class="lable pt-3">
                gift for him
            </div>
        </div>

        <div>
            <div class="border border-info rounded-circle border-5 big-circle">
                <div class="text-primary fw-bold">
                    gift for kids
                </div>
            </div>
            <div class="lable pt-3">
                gift for kids
            </div>
        </div>

        <div>
            <div class="border border-info rounded-circle border-5 big-circle">
                <div class="text-primary fw-bold">
                    gift for pets <br> and owner
                </div>
            </div>
            <div class="lable pt-3">
                gift for pets <br> and owner
            </div>
        </div>

    </div>
</div>

<div class="part4 mx-5">
    <div class="container">
        <h2 class="text-center py-3">The National Difference</h2>
        <div class="row d-flex align-items-center text-center pt-3 ">

            <div class="col">
                <div>
                    <img style="height: 100px; width:200px ;" src="./images/anh2.jpg" alt="">
                </div>
                <p class="pt-3 fs-4 text fw-bold">Free shipping <br> on $79</p>
                <p class="lh-1">carefully packaged from our <br> lab to your doorstep.</p>
            </div>

            <div class="col">
                <div>
                    <img style="height: 100px; width:200px ;" src="./images/anh2.jpg" alt="">
                </div>
                <p class="pt-3 fs-4 text fw-bold">Happiness <br> Guarantee.</p>
                <p class="lh-1">
                    Your happiness is our priority. If your creation doesn't look or feel your imagined, talk to
                    us.
                </p>
            </div>

            <div class="col">
                <div>
                    <img style="height: 100px; width:200px ;" src="./images/anh3.jpg" alt="">
                </div>
                <p class="pt-3 fs-4 text fw-bold">Free shipping <br> on $79</p>
                <p class="lh-1">It makes the pros drool, <br> everytime</p>
            </div>
        </div>
    </div>
</div>

<div class="part5 bg-pink my-0 mx-5">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-7">
                <h3 class="part5-p1">Our Picture Perfect Guarantee</h3>
                <p class="part5-p">
                    If there's one think we know, it's photo product quality. It's our priority-guarantee!
                </p>
                <p class="fw-bold part5-p">
                    Every day , hundreds of customers - like you! - trust us with their most precious
                    memories.
                    The firdt dance at your weding, that incredible trip to London to you took with your mom,
                    the time your son took his first steps. These are moment that truly matter and we want to help them live
                    on for years to come
                </p>
                <p class="part5-p">If your creation doesn't look or feel how you imagined, talk to us</p>
                <p class="text-decoration-underline part5-p1 fs-5 text fw-bolder">
                    Reach out to our team of Photo Experts
                    today
                </p>
            </div>

            <div class="col-5">
                <img class="pt-4 ps-5" style="height: 400px; width:400px ;" src="./images/anh4-16.jpg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="part6 my-5">
    <div class="container justify-content-around">
        <h3 style="color: gray;">Real Review From Real Customers </h3>

        <div class="line-color">
        </div>

        <div class="container d-flex justify-content-between py-3">
            <div class="d-flex justify-content-between">
                <div class="border border-info rounded-circle border-2 small-circle">
                    <div class="icon1 ">;;</div>
                </div>
                <div class="mx-4 ">
                    <div class="d-flex">
                        <p class="fw-bold">Hung PQ</p>&nbsp;&nbsp;&nbsp;<p class="dob">04/09/23</p>
                    </div>
                    <div class="description">
                        Quality print and great shipping quality <br> and packaging. Not much more to ask for.
                    </div>

                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="border border-info rounded-circle border-2 small-circle">
                    <div class="icon1 ">;;</div>
                </div>
                <div class="mx-4 ">
                    <div class="d-flex">
                        <p class="fw-bold">Long DM</p>&nbsp;&nbsp;&nbsp;<p class="dob">04/09/23</p>
                    </div>
                    <div class="description">
                        Easy to download the photos and quick <br> turn-around for prints. Prints were <br> immaculate
                    </div>

                </div>
            </div>

            <div class="d-flex justify-content-between">
                <div class="border border-info rounded-circle border-2 small-circle">
                    <div class="icon1 ">;;</div>
                </div>
                <div class="mx-4 ">
                    <div class="d-flex">
                        <p class="fw-bold">Anh DH </p>&nbsp;&nbsp;&nbsp;<p class="dob">04/09/23</p>
                    </div>
                    <div class="description">
                        Quality print and great shipping quality <br> and packaging. Not much more to ask for.
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="part7">
    <div class="container d-flex justify-content-around">
        <div class="text-center">
            <div class="lb-sign-in-up py-2 fs-5">
                Already have an account?
            </div>
            <button class="btn-border sign-in-up">Sign in</button>
        </div>

        <div class="border border-secondary rounded-circle border-1 mini-circle my-4">
            <div class="icon2">or</div>
        </div>

        <div class="text-center">
            <div class="lb-sign-in-up py-2 fs-5">
                Don't have an account?
            </div>
            <button class="btn-border sign-in-up">Create an account</button>
        </div>

    </div>
    <div class="container d-flex py-5 justify-content-center ">
        <div class="mx-3">
            <a href="">
                <i class="fab fa-facebook-square text-black fs-2"></i>
            </a>
        </div>

        <div class="mx-3 ">
            <a href="">
                <i class="fa-brands fa-google text-black fs-2"></i>
            </a>
        </div>

        <div class="mx-3">
            <a href="">
                <i class="fa-brands fa-instagram text-black fs-2"></i>
            </a>
        </div>

        <div class="mx-3">
            <a href="">
                <i class="fa-brands fa-twitter text-black fs-2"></i>
            </a>
        </div>

        <div class="mx-3">
            <a href="">
                <i class="fa-brands fa-twitch text-black fs-2 "></i>
            </a>

        </div>
    </div>
</div>