.width-full {
    width: 100%;
}

.bg-transparent {
    background-color: transparent;
}

.bg-purple2 {
    background-color: #b4a7d6;
}

.material-item {
    --material-item-border-bottom: 2px;
    margin-bottom: var(--material-item-border-bottom);
}

.material-item:hover {
    margin-bottom: 0px;
    border-bottom: var(--material-item-border-bottom) solid var(--bs-nav-link-hover-color);
}
